# # # # # # # #
#   K i k o   #
# # # # # # # #

# Basic
name:               "Ye Lab"
title:              "Ye Lab at Northeastern University"
description:        "The Ye Lab is a automation in civil engineering reseasrch group at Northeastern University."


# URL
url:                https://gilbert-yangye.github.io/
baseurl:            
#baseurl:            "" #For Root Domain
permalink:          /:year/:month/:day/:title.html

# Markdown
markdown:           kramdown

# Highlighter
highlighter:        rouge

# Navigation
nav:
  - name:           "home"
    href:           "/"
  - name:           "opportunities"
    href:           "/opportunities"
#  - name:           "about"
#    href:           "/about"
  - name:           "publications"
    href:           "/publication"
  - name:           "people"
    href:           "/people"
#   - name:           "abstracts"
#     href:           "/abstracts"
#  - name:           "lab teachings"
#    href:           "/presentations"
  - name:           "Research"
    href:           "/research"
# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
  -
    scope:
      path:         ""
      type:         "people"
    values:
      layout:       "profile"


collections:
  people:
    output: true
    permalink: /people/:title/index.html
